.box{
    display: grid;
    background-color: lightsteelblue;
    height: 1500px;
    width: 1500px;
    border: 1px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.box2{
    height: 500px;
    width: 500px;
    border: 1 solid red;
}
.head{
    display: flex;
    na
}