.h1{
    background-color: aqua;
    color: darkgoldenrod;
    font-size: large;
    margin: 0%;
    padding: 1%;
}
.form{
    background-color: pink;
    color: darkorange;
    font-size: large;
    margin: 0%;
    padding: 0%;
}